.hamburger {
  display: none;
}

.navbar {
  padding: 27px;
  font-weight: 500;
}

.ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.ul li:hover {
  color: #ff6464;
}

@media (max-width: 800px) {
  .hamburger {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1000;
    position: relative;
  }

  .ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    transform: translateY(-100%);
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 500;
  }

  .show {
    transform: translateY(0);
  }

  .hide {
    transform: translateY(-100%);
  }

  .cross {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 999;
    font-size: 2rem;
    cursor: pointer;
  }
}
