.navbar {
  padding: 27px;
  font-weight: 500;
}

.ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  justify-content: flex-end;
}

.ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.ul li:hover {
  color: #ff6464;
}
