.card {
  max-width: 400px;
  min-width: 400px;
  min-height: 500px;
  border: 1px solid blue;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  margin-top: 30px;
}

.blog-cover {
  width: 100%;
  object-fit: cover;
  height: 300px;
  background-color: red;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

.card-description {
  font-size: 1rem;
}
